<h1>Buscando a <small> {{buscada}}</small></h1>
<hr>

<div class="row" *ngIf="personas.length==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            no existen resultados con el termino: {{buscada}}
        </div>
    </div>

</div>


<br>


  <div class="row">
        <div class=" col-md-4" *ngFor="let persona of personas;">
            <div class="card img-thumbnail text-center">
              <img class="card-img-top " [src]="persona.img"  [alt]="persona.nombre">
                  <div class="card-body">
                    <h4 class="card-title">{{persona.nombre | uppercase}}</h4>
                    <p class="card-text">{{persona.velocidad | uppercase}}</p>
                    <p class="card-text">${{persona.precio | number:'1.2-2'}}</p>
                    <p class="card-text">{{persona.numerotelefonico }}</p>

                    <button (click)="verPersona(persona.idcliente)" type="button"  class="btn btn-outline-primary btn-block">Ver mas...</button>
                  </div>


                </div>
              </div>

  </div>
