



<div class="animation fadein fast " >
  <div class="row">
      <div class=" col-md-2" >

      </div>
        <div class=" col-md-8 "  >
            <div class="card img-thumbnail">
              <img class="card-img-top " [src]="persona.img"  [alt]="persona.nombre">
                  <div class="card-body">
                    <h4 class="card-title">NOMBRE: {{persona.nombre | uppercase}}</h4>
                    <p class="card-title">VELOCIDAD:{{persona.velocidad | uppercase}}</p>
                    <p class="card-text">PRECIO: ${{persona.precio | number:'1.2-2'}}</p>
                    <p class="card-title" *ngIf="persona.numerotelefonico !=null">TELEFONO:{{persona.numerotelefonico }}</p>
                    <p class="card-title" *ngIf="persona.direccion1!=''">DIRECCION 1:{{persona.direccion1 | uppercase}}</p>
                    <p class="card-title" *ngIf="persona.direccion2!=''">DIRECCION 2:{{persona.direccion2 | uppercase}}</p>
                    <p class="card-title" >FECHA DE CORTE: {{today |  date:'5 MMMM  y'}}</p>

                    <p class="card-text"><small class="text-muted">{{persona.aparicion | date:'y'}}</small></p>
                    <button (click)="historial(persona.idcliente)"  type="button"  class="btn btn-outline-primary btn-block">HISTORIAL</button>
                    <button (click)="pagar(persona.idcliente)" type="button"  class="btn btn-outline-primary btn-block">PAGAR</button>

                    <a [routerLink]="['/personas']" class="btn btn-danger btn-block"> Regresar</a>

                  </div>


                </div>
              </div>
              <div class=" col-md-2" >

              </div>

  </div>

  <br>
  <br>


  </div>
