<div class="row">
  <div class="col-md-12" *ngIf="verifica==false">
      <div class="alert alert-info" role="alert">
          no existen historial para este cliente: {{persona.nombre| uppercase}}
      </div>
  </div>
    <div class=" col-md-12" *ngIf="verifica==true">
      <table class="table table-hover table-dark" *ngIf="pago!=null">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">fecha del pago</th>
            <th scope="col">fecha pagada</th>
            <th scope="col">Monto</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let p of pago;let i=index" >
            <th *ngIf="idCliente==p.idcliente" scope="row" >{{cantidad[i]}}</th>
            <td *ngIf="idCliente==p.idcliente">{{p.fecha |  date:'dd MMMM  y'}}</td>
            <td *ngIf="idCliente==p.idcliente">{{p.fechapagoinicio |  date:'dd MMMM  y' }} a {{today[i] |  date:'dd MMMM  y'}}</td>
            <td *ngIf="idCliente==p.idcliente">${{p.monto}}</td>
            <td *ngIf="idCliente==p.idcliente">PAGADO</td>
            <td *ngIf="idCliente==p.idcliente" ><button (click)="verEditar(p.idpagos)" type="button" class="btn btn-success">Editar</button></td>
            <td *ngIf="idCliente==p.idcliente" (click)="eliminar(p.idpagos)" ><button type="button" class="btn btn-danger">Eliminar</button></td>
            <td *ngIf="idCliente==p.idcliente" ><button type="button" class="btn btn-dark">PDF</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
